@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');

#content {
  max-width: 600px;
  margin: auto;
}

#content * {
  line-height: 2;
  font-size: 24px;
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: 500;
}
